{
  "devDependencies": {
    "electron": "^1.4.3",
    "electron-builder": "^7.14.1",
    "electron-packager": "^8.1.0",
    "express": "^4.14.0",
    "webpack": "^1.13.3"
  },
  "build": {
    "appId": "your.app",
    "productName": "YourApp",
    "app-category-type": "public.app-category.games",
    "mac": {
      "category": "public.app-category.games",
      "target": ".dmg"
    },
    "win": {
      "category": "public.app-category.games"
    },
    "linux": {
      "category": "public.app-category.games"
    }
  },
  "scripts": {
    "postinstall": "install-app-deps",
    "start": "electron ./app  --enable-logging",
    "start-dev": "electron ./app dev --enable-logging",
    "start-bundle": "electron ./app bundle --enable-logging",
    "dist": "build -w --x64"
  }
}
